Options -MultiViews
RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.vedicosmic\.com$ [NC]
RewriteRule ^(.*)$ https://vedicosmic.com/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]
